.phrase {
  padding: 30px;
  position: relative;
  color: #3D4E61;
  font-style: italic;
}

.phrase::before {
  content: open-quote;
  top: 0;
  left: 0;
}

.phrase::after {
  content: close-quote;
  bottom: 0;
  right: 0;
}

.phrase::after, .phrase::before {
  background-color: #ccc;
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
}
