@media screen and (max-width: 600px) {
  .navList {
    flex-direction: column;
    line-height: 15px;
    margin-bottom: 50px;
    align-items: flex-start;
  }
  
  .header {
    padding: 50px 10px 150px;
  }
}